.l-header{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  padding-top: 30px;
  .logo{
    color:#D9F0FF;
    font-size: 28px;
    
  }
  .logo h1{
    @include fontDancing(700);
  }
    
}



