.p-mainvisual{
  height: 100%;
  width:100%;
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  // position:absolute;
  // background:red;
  margin-top:100px;

  // justify-content:center;
  &__txt{
    padding-bottom:20px;

    h2{
      // height: 144px;
      font-size: 100px;
      color:#FFFFFF ;
      text-align: center;
      @include fontLato(300);
    
    }
    
    p{
      font-size: 18px;
      color:#FFF ;
      text-align: center;
      padding:0px 100px 50px 100px;
      @include fontPoppins(400);
    }
      
  }
}